@tailwind base;
@tailwind components;
@tailwind utilities;

@layer stylings {

    .text-nav{
        font-size: 18px;
    }
    .text-nav:hover{
        color: orangered !important;
        font-size: 20px;
    }
    .save-button:hover{
        background-color: orangered !important;
    }
    .dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode-title {
  color: #ffffff;
}

.dark-mode-content {
  color: #ffffff;
}

.dark-mode-confirm-button {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-mode-confirm-button:hover {
  background-color: #ffffff;
  color: #333333;
}
}