@tailwind base;
@tailwind components;
@tailwind utilities;

@layer stylings {

/* Nav-Bar */
    .text-nav{
        font-size: 18px;
    }
    .text-nav:hover{
        color: orangered !important;
        font-size: 20px;
    }
    .save-button:hover{
        background-color: orangered !important;
    }
    .shadow {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1) !important;
    }
/* Nav-Bar End */

/* Searchbar */
    .glow {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 100%;
}

.glow-1 {
  animation: glow1 4s linear infinite;
}

.glow-2 {
  animation: glow2 4s linear infinite;
  animation-delay: 100ms;
}

.glow-3 {
  animation: glow3 4s linear infinite;
  animation-delay: 200ms;
}

.glow-4 {
  animation: glow4 4s linear infinite;
  animation-delay: 300ms;
}

@keyframes glow1 {
  0% {
    transform: translate(10%, 10%) scale(1);
  }

  25% {
    transform: translate(-10%, 10%) scale(1);
  }

  50% {
    transform: translate(-10%, -10%) scale(1);
  }

  75% {
    transform: translate(10%, -10%) scale(1);
  }

  100% {
    transform: translate(10%, 10%) scale(1);
  }
}

@keyframes glow2 {
  0% {
    transform: translate(-10%, -10%) scale(1);
  }

  25% {
    transform: translate(10%, -10%) scale(1);
  }

  50% {
    transform: translate(10%, 10%) scale(1);
  }

  75% {
    transform: translate(-10%, 10%) scale(1);
  }

  100% {
    transform: translate(-10%, -10%) scale(1);
  }
}

@keyframes glow3 {
  0% {
    transform: translate(-10%, 10%) scale(1);
  }

  25% {
    transform: translate(-10%, -10%) scale(1);
  }

  50% {
    transform: translate(10%, -10%) scale(1);
  }

  75% {
    transform: translate(10%, 10%) scale(1);
  }

  100% {
    transform: translate(-10%, 10%) scale(1);
  }
}

@keyframes glow4 {
  0% {
    transform: translate(10%, -10%) scale(1);
  }

  25% {
    transform: translate(10%, 10%) scale(1);
  }

  50% {
    transform: translate(-10%, 10%) scale(1);
  }

  75% {
    transform: translate(-10%, -10%) scale(1);
  }

  100% {
    transform: translate(10%, -10%) scale(1);
  }
}
/* Searchbar End*/


/* Seaarch Videocontainer */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (Höhe/Breite * 100) */
}

.video-container iframe {
  position: absolute;
  top: 1.3%;
  left: 1.3%;
  right: 1.3%;
  width: 97.4%;
  height: 94%;
}

/* Seaarch Videocontainer End*/
}